<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title th:text="${'Seed ' + seed.id}">Seed</title>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        const seed = {
            id: /*[[${seed.id}]]*/ undefined,
        };
        /*]]>*/
    </script>

    <style>
        .generator-log__container {
            padding: 16px;
            border-radius: 8px;
            background: lightgray;
        }

        .generator-log__header {
            font-family: monospace;
            font-weight: 600;
        }

        #randomizer-log {
            margin-top: 16px;
            font-family: monospace;
            overflow-y: auto;
            overflow-x: visible;
            word-break: break-word;
            height: 200px;
            max-height: 200px;
        }
    </style>
</head>
<body>
<main th:if="${generatedSeed}">
    <h1>Play Triforce Blitz</h1>

    <section>
        <h2>Actions</h2>
        <div>
            <a th:href="@{/seeds/{id}/patch(id=${seed.id})}">
                <button type="button">Download patch</button>
            </a>
            <p>You can use this file to patch your Ocarina of Time ROM using the official patcher over at
                <a href="https://ootrandomizer.com">OoTRandomizer.com</a>.</p>
        </div>

        <div th:if="${seed.spoilerLocked}">
            <button type="button" disabled>Download spoiler log</button>

            <p th:if="${racetimeLock}" th:with="lock=${racetimeLock}">
                This spoiler log is locked with a
                <a th:with="slug=${lock.getRaceName()},category=${lock.getRaceCategory()}"
                   th:href="@{https://racetime.gg/{category}/{slug}(category=${category},slug=${slug})}">
                    Racetime.gg race</a>!
                Once the race
                <strong th:text="${lock.raceCategory + '/' + lock.raceName}">race-slug-1234</strong>
                finishes, the spoiler
                log will automatically unlock.
            </p>
            <p th:unless="${racetimeLock}">The spoiler log for this seed is locked and cannot be accessed.</p>
        </div>
        <div th:unless="${seed.spoilerLocked}">
            <a th:href="@{/seeds/{id}/spoiler(id=${seed.id})}">
                <button type="button">Download spoiler log</button>
            </a>

            <p>The spoiler log contains all information about the generated seed. You can use this file to find out
                where items are located, as well as see how the randomizer logically solved the seed.</p>
            <p th:if="${racetimeLock}" th:with="lock=${racetimeLock}">
                This seed was locked with a
                <a th:with="slug=${lock.getRaceName()},category=${lock.getRaceCategory()}"
                   th:href="@{https://racetime.gg/{category}/{slug}(category=${category},slug=${slug})}">
                    Racetime.gg race</a>,
                but the race has concluded or has been cancelled and the spoiler log is now unlocked.
            </p>
        </div>
    </section>

    <section>
        <h2>Seed details</h2>
        <table>
            <tbody>
            <tr>
                <th scope="row">ID</th>
                <td th:text="${seed.id}"></td>
            </tr>
            <tr>
                <th scope="row">Generator version</th>
                <td th:text="${seed.version}"></td>
            </tr>
            <tr>
                <th scope="row">Generator preset</th>
                <td th:text="${seed.preset}">Preset</td>
            </tr>
            <tr>
                <th scope="row">Cooperative</th>
                <td th:text="${seed.cooperative}"></td>
            </tr>
            <tr>
                <th scope="row">Created at</th>
                <td th:text="${#temporals.format(seed.createdAt)}"></td>
            </tr>
            <tr th:if="${generatedSeed}">
                <th scope="row">Generated at</th>
                <td th:text="${#temporals.format(generatedSeed.generatedAt)}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

<main th:unless="${generatedSeed}">
    <h1>Your seed is almost ready!</h1>
    <p>Your seed has been created but has not been generated yet. You can see the status of the generator below.</p>

    <details open class="generator-log__container">
        <summary class="generator-log__header">Generator log</summary>
        <div id="randomizer-log">
            <div>Connecting...</div>
        </div>
    </details>

    <script defer>
        const messageLog = document.getElementById("randomizer-log");
        const client = new StompJs.Client({
            brokerURL: '/websocket'
        });

        client.onConnect = () => {
            messageLog.replaceChildren();

            // Set up our message callbacks
            client.subscribe(`/topic/seed/${seed.id}/generator/log`, onGeneratorLog);
            client.subscribe(`/topic/seed/${seed.id}/generator/status`, onGeneratorStatus)

            const date = new Date();
            const timestamp = date.toLocaleTimeString();
            appendMessage(`[${timestamp}] Connected to Triforce Blitz server`)
        };

        client.onWebSocketError = () => {
            appendMessage("Connection error, retrying...")
        }

        client.onStompError = (frame) => {
            appendMessage(`STOMP broker error: ${frame.headers.message}`);
            appendMessage(`Additional details: ${frame.body}`)
        };

        const appendMessage = (message) => {
            const messageElement = document.createElement("div");
            messageElement.innerText = message;
            messageLog.appendChild(messageElement);
            messageLog.scrollTop = messageLog.scrollHeight;
        }

        const onGeneratorLog = frame => {
            const message = JSON.parse(frame.body);
            const date = new Date(message.timestamp);
            const timestamp = date.toLocaleTimeString();
            appendMessage(`[${timestamp}] ${message.message}`);
        };

        const onGeneratorStatus = frame => {
            const message = JSON.parse(frame.body);
            if (message.status === "GENERATED") {
                location.reload();
            }
        }

        client.activate();
    </script>
</main>
</body>
</html>
